body{
	background:#f4dfc5;
}
{
 color:#383839
}

h1 {

color:#3b6ba5

}

b {

color:#3b6ba5
}

td {

color:#3b6ba5

}

font
{
color:#383839

}

footer {

color:#383839

}


form {
  color:#383839;
}


p.italic {
    font-style: italic;
}
